{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <title>Онлайн-турнир</title>
</head>

<body class="page-container">
<header class="page-header"></header>
<div class="page-content">

    <!-- Узкая колонка с трасляцией и чатом. -->
    <div class="block-column block-column--small">

        <!-- Блок трансляции -->
        <div class="block-youtube">
            <iframe src={{ tournament.translation_link }}></iframe>
        </div>

        <!-- Блок чата. -->
        <div class="page-block block-chat">
            <h2 class="block-chat__title">Чат</h2>
            {% for msg in messages %}
                <div class="block-chat__message">
                    <div class="block-chat__msg-first-line">
                        {% if msg.msg_from == current_user %}
                            <span class="block-chat__name block-chat__name--username">{{ msg_from.name }}</span>
                        {% else %}
                            <span class="block-chat__name">{{ msg_from.name }}</span>
                        {% endif %}
                        <span class="block-chat__date">{{ msg.time }}</span>
                    </div>
                    <span class="block-chat__text">{{ msg.text }}</span>
                </div>
            {% endfor %}
        </div>

        <!-- Блок инпута набора сообщения и кнопки отправки. -->
        <div class="block-chat__navigation">
            <input type="text" class="block-chat__input">
            <div class="block-chat__button-send"></div>
        </div>
    </div>
</div>

<!-- Широкая колонка с инфой о раунде и тэбом -->
<div class="block-column block-column--big">

    <!-- Блок инфы о раунде. -->
    <div class="page-block block-round-info">
        {% if rounds %}

            <div class="block-round-info__header">
                <h2 class="block-round-info__title">Информация о раунде</h2>
                {% for round in rounds %}
                    {% if round.current is True %}
                        <span class="block-round-info__round-number block-round-info__round-number--active">{{ round.number }}</span>
                    {% else %}
                        <span class="block-round-info__round-number">{{ round.number }}</span>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="block-round-info__body">
                {% for round in rounds %}
                    {% for room in round.rooms %}
                        {% if room.OG == current_team or room.OO == current_team or room.CG == current_team or room.CO == current_team %}
                            <div class="block-round-info__table">
                                <table class="block-round-info__round-table">
                                    <tr>
                                        <td class="block-round-info__round-table-cell">1 ПРОП {{ room.OG }}</td>
                                        <td class="block-round-info__round-table-cell">1 ОП {{ room.OO }}</td>
                                    </tr>
                                    <tr>
                                        <td class="block-round-info__round-table-cell">2 ПРОП {{ room.CG }}</td>
                                        <td class="block-round-info__round-table-cell">2 ОП {{ room.CO }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="block-round-info__chair">
                                <h3 class="block-round-info__chair-title">Чеир:</h3>
                                <!-- Динамические данные. Имя чеира. -->
                                <h4 class="block-round-info__chair-name">{{ room.chair }}</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="block-round-info__motion">
                        <h3 class="block-round-info__motion-title">Резолюция:</h3>
                        <!-- Динамические данные. Тема раунда. -->
                        <h4 class="block-round-info__motion-info">{{ round.resolution }}</h4>
                    </div>
                    <!-- Блок инфослайда не обязательный. Прописать условие - отображается, если есть инфослайд. -->
                    {% if round.infoslide %}
                        <div class="block-round-info__infoslide">
                            <h3 class="block-round-info__infoslide-title">Инфослайд:</h3>

                            <!-- Динамические данные. Инфослайд. -->
                            <h4 class="block-round-info__infoslide-text">{{ round.infoslide }}</h4>
                        </div>
                    {% endif %}
                    <!-- Кнопка входа в рум - ссылка на комнату хэнгаут. -->
                    <button class="block-round-info__room-button">Войти в рум</button>
                {% endfor %}
            </div>

        {% else %}

            <div class="block-round-info__header">
                <h2 class="block-round-info__no-data-title">Скоро здесь появятся ваша позиция, тема раунда и ссылка на
                    игровой рум.</h2>
            </div>

        {% endif %}
    </div>


    <!-- Блок с тэбом. -->
    <div class="page-block block-tab">
        <h2 class="block-tab__title">Таблица результатов</h2>

        <!-- Динамические данные. Таблица из tabmakera. Сейчас вся разметка - заглушки. -->
        <table class="block-tab__table-tab">
            <tr class="block-tab__table-row block-tab__table-row--first-row">
                <td class="block-tab__table-cell">Название команды</td>
                <td class="block-tab__table-cell">Сумма баллов</td>
                <td class="block-tab__table-cell">Р1</td>
                <td class="block-tab__table-cell">Р2</td>
                <td class="block-tab__table-cell">Р3</td>
                <td class="block-tab__table-cell">Р4</td>
                <td class="block-tab__table-cell">Р5</td>
            </tr>
            {% for str in tab %}
                <tr class="block-tab__table-row">
                    {% if str.team == current_team %}
                        <td class="block-tab__table-cell block-tab__table-cell--your-team">{{ str.team.name }}</td>
                    {% else %}
                        <td class="block-tab__table-cell">{{ str.team.name }}</td>
                    {% endif %}
                    <td class="block-tab__table-cell">{{ str.sum }}</td>
                    <td class="block-tab__table-cell">{{ str.r1 }}</td>
                    <td class="block-tab__table-cell">{{ str.r2 }}</td>
                    <td class="block-tab__table-cell">{{ str.r3 }}</td>
                    <td class="block-tab__table-cell">{{ str.r4 }}</td>
                    <td class="block-tab__table-cell">{{ str.r5 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>

</html>